<!DOCTYPE html> 
<html> 
  <head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 

    <title>FitBuds</title> 

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="/css/fitbud.css">

  </head> 
<body>

<!-- Navigation Bar -->
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper red lighten-1">
      <a href="#!" class="brand-logo">FitBud</a>
        
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
      
      <!-- Side Navbar -->
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav>
</div>
<!-- End of Navigation Bar -->

<!-- Header Title -->
<header class="login-header">
  <h3 class="center">Welcome Back</h3>
</header>
<!-- End of Header -->

<!-- Main Content -->
<main>
  <div class="container login-form"> 
    <form action="/login" method="post">
      <input type="text" name="email" placeholder="email" required="required"/> 
      <input type="text" name="password" required="required"/>
      <button type="submit" class="login-button" value="login">Log In</button> 
    </form> 
  </div>
</main>
<!-- End of Main Content -->

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/materialize.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>


</body> 
</html> 