<!DOCTYPE html>
<html>
  <head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 
    <title>FitBuds</title> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="/css/fitbud.css">

  </head> 
<body>


<%= photo.userPhoto %> 


<!-- ==============================================
                        JS
=============================================== -->
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../js/fitbud.js"></script>
<script type="text/javascript" src="../js/jquery.form.js"></script>  

</body> 
</html>