<!DOCTYPE html>
<html>
  <head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 
    <title>FitBuds</title> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="/css/fitbud.css">

  </head> 
<body>
    
<!-- Navigation Bar -->
<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper red lighten-1">
      <a href="#!" class="brand-logo">FitBud</a>
        
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a class="navlinks" href="/logout">Signout</a></li>
      </ul>
      
      <!-- Side Navbar -->
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav>
</div>
<!-- End of Navigation Bar -->
<ul>
<li><a href="/users/:id/edit">edit button</a></li>
</ul>
<!-- Main Content -->
<main>
  <div class="wrapper">
    <div class="user-image">
    <%= user.userPhoto %> 
    </div>
    
    <div class="user-text">
      <h1 class="user-name"><%= user.username %></h1>
      <p class="user-info">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nibh orci, convallis sed imperdiet quis, ultricies eget diam. Sed non est eu sapien blandit fermentum. </p>
    </div>

    <!-- User Buttons -->

  </div>
</main> 
<!-- End of Main Content -->

<div class="container"> 
  <div id="progress-photos"> 
  </div>
</div>



<!-- ==============================================
                        JS
=============================================== -->
<script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="../js/fitbud.js"></script>
<script type="text/javascript" src="../js/jquery.form.js"></script>  

</body> 
</html>